{% load static %}
<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                <!-- banner -->
                {% for pro in product %}
                    <div class="banner banner-1">
                        <img src="{{pro.image.url}}"  style="height: 500px; width: 1200px;" >
                        <div class="banner-caption text-center">
                        
                            <h1 class="primary-color">{{pro.title}}<br>
                            <span class="white-color font-weak">Up to 50% OFF</span></h1>
                            <button class="primary-btn"><a href="/product/{{pro.id}}/{{pro.slug}}">Shop Now</a></button>
                        </div>
                    </div>
                {% endfor %}
                <!-- /banner -->

            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->