<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready( function() {

        $("#about-btn").click( function(event) {
            alert("You clicked the button using JQuery!");
        });
    });
</script>
<body>
    <button id="about-btn"> Click Me - I'm Javascript on Speed</button>
    
</body>
</html>